.venv-*


.DS_Store
__pycache__

.tmp
.env

**/gt_*
**/reference.*
**/variation_*.txt
*.jpg
*.csv
*.json
*.png
*.log
*.ipynb
*.sh


outputs
samples
rating

**/deprecated
**/commercial-PoC

assets/rubrics/amzn-Jul-ver
assets/rubrics/amzn-criteria
scripts/dataset-generation
scripts/distortion/lib/mask_adaptive.py
scripts/distortion/lib/mask_mser.py
scripts/distortion/lib/mask_ocr.py
scripts/distortion/lib/mask_opencv.py
scripts/evaluation/analysis
scripts/evaluation/filtering
scripts/evaluation/log

scripts/evaluation/eval_consistency.py
scripts/evaluation/evaluate_with_local_vlm.py
scripts/evaluation/generate_count_visualization_variants.py
scripts/evaluation/generate_visual_likert_anchors_from_distorted_ref.py
scripts/evaluation/generate_visual_likert_anchors.py
scripts/evaluation/plot_metric_scores.py
scripts/evaluation/plot_total_bbox_size_distribution.py
scripts/evaluation/preprocess_reference.py
scripts/evaluation/visualize_discordant_crop_examples.py
scripts/evaluation/visualize_rank_alignment_pairs.py
scripts/evaluation/visualize_scores.py

scripts/utils
scripts/evaluation/migrate_bbox_cache.py
